@import '/src/assets/style/utils/colors.scss';

.input_line__wrapper {
  display: flex;
  align-items: center;
  width: 540px;
  height: 63px;
  border-radius: 5px;
  border: 0.5px solid $very-light-grayish-blue;
}

.input_line {
  margin-left: 25px;
  font-size: 18px;
  height: 50px;
}

.input_line__img_plus {
  width: 17px;
  height: 17px;
  margin-left: 24px;
}